$color : #6462cb;
$fontColor :#cddfe0;

@mixin flexbox($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}


.chat-container {
    width: 100%;
    @include flexbox(left, none);
    flex-direction: column;
    padding-left : 10%;
}

.chatTitle {
    width: 100%;
    height: 5rem;
    color: $color;
    font-size: 3rem;
}

.chatlist-box {
    width: 40%;
    margin-right: 2%;
    @include flexbox(left, none);
    flex-direction: column;
}

.chat-list-box {
    width: 100%;
    height: 5rem;
    margin-bottom: 0.5rem;
}

.chatbox {
    width: 100%;
    height: 100%;
    background-color: rgb(238, 238, 238);
    position: relative;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
}

.chatbox-img {
    border: none;
    border-radius: 30%;
}

.chat-title {
    position: absolute;
    top: 15%;
    left: 15%;
    font-size: 1.2rem;
}

.chat-name {
    position: absolute;
    bottom: 15%;
    left: 15%;
    font-size: 0.8rem;
}

.chatboard-box {
    width: 58%;
    background-color: green;
}

.chatroom-picture-box {
    padding : 5px;
    margin-left : 5rem;
    width : 35%;
    height : 6rem;
    background-color: rgb(236, 236, 236);
    @include flexbox(left, center);
    position : relative;
}

.chatroom-picture-box p {
    position: absolute;
    top : -1.5rem;
    font-weight: 700;
}

.roomPictureS {
    width : 16%;
    height : 100%;
    margin : 3px;
}

.roomPictureS:hover {
 border : solid 3px $color;
}



.chatroom-container {
    position : relative;
    margin-left : 5rem;
    width: 35%;
    @include flexbox(left, center);
    flex-direction: column;
    background-color: rgb(215, 233, 245);
    border-radius: 5px;
}

.chatroom-picture-box2 {
    position : absolute;
    width : 50rem;
    height : 50rem;
     top : 0%;
     right : -55rem;
     padding : 10%;
}

.roomPictureB {
    width : 80%;
    height : 80%;
    padding : 1rem;
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 3px 5px rgb(209, 209, 209);
}

.chatroom-title {
    width: 100%;
    height: 3rem;
    padding-top: 5px;
    font-size: 1.5rem;
    color: black;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: rgb(187, 211, 228);
    box-shadow: 0px 3px 5px rgb(187, 211, 228);
}

.chatroom-content-box {
    width: 100%;
   
}

.chatroom-content-message {
    width: 100%;
    height: 30rem;
    overflow: auto;
    overflow-x: hidden;
    padding : 2%;
}

.chatroom-content-message::-webkit-scrollbar {
    width : 1rem;
}

.chatroom-content-message::-webkit-scrollbar-track {
    background-color: rgb(180, 233, 215);
    border-radius: 10px;
}

.chatroom-content-message::-webkit-scrollbar-thumb {
    background-color: rgb(98, 129, 119);
    border-radius: 10px;
}

.message-id-time-content {
    width: 100%;
    position: relative;
    display: block;
    margin:0;

}

.message-id {
    width: 20%;
    border: none;
    background: none;
}

.message-time {
    border: none;
    background: none;
}

.message-content {
    padding: 5px;
    max-width: 40%;
    word-break: normal;
    border: none;
    background-color: #9897c7;;
    border-radius: 5px;
    overflow: hidden;
}

.chatroom-content-input {
    width : 100%;
    height : 5rem;
}

.chatroom-content-input-box {
 width : 100%;
 height : 6rem;
 background-color: rgb(224, 224, 224);
 box-shadow: 0px -5px 10px rgb(211, 211, 211);
 position: relative;
}

.chatroom-input {
    position : absolute;
    width :75%;
    height : 40%;
    border-radius: 5px;
    border : none;
    bottom : 10%;
    left : 3%;
}

.chatroom-input-button {
    position : absolute;
    width :15%;
    height : 80%;
    border : none;
    background-color: $color;
    color : white;
    border-radius: 5px;
    right : 3%;
    bottom : 10%;
}

.chatroom-location-button {
    position : absolute;
    top : 10%;
    left : 3%;
    border : none;
    border-radius: 5px;
    background-color: $color;
    color: $fontColor;
}

.close {
    display:none;
}
