$color : #6462cb;
$fontColor :#cddfe0;

// $color : rgb(142,191,188);

// rgb(55,198,208);


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ImcreSoojin';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:1;
    padding: 1;
    font-family: 'Pretendard-Regular';
    position : relative;
}

a {
    text-decoration: none;
    color : black;
}

li {
    list-style: none;
}

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align;
}

.main-container {
    width : 100vw;
    position : relative;

}

.content-container {
    width : 1600px;
    padding-top : 10rem;
    padding-left : 10rem;
    position : relative;
}

.up {
    width : 30%;
    height : 2rem;
    position : absolute;
    bottom: 3%;
    left : 1.5rem;
    z-index: 11;
}

.up img {
    width : 100%;
    height : 100%;
}

.header-box {
    position : fixed;
    width : 100%;
    height : 4rem;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    display : flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(170, 170, 170);
}

.header-menu-button {
    position : absolute;
    cursor: pointer;
    top : 2%;
    left : 1.5rem;
}

.header-menu-logo-box {
    width : 25rem;
    @include flexbox(left, center);
}


.header-menu-logo-box img {
    width : 2rem;
    margin-left : 1.4rem;
}

.header-menu-title {
    margin-left : 3rem;
    width : 20rem;
    font-size : 2rem;
    @include flexbox( center, center );
    font-family: 'ImcreSoojin';
}

.header-menu-title img {
    margin-right : 1rem;
}

.header-search-box {
    @include flexbox(center, center);
    width : 60%;
}

.header-search-input {
    width : 10vw;
    border : solid 3px $color;
    border-radius: 5px;
    transition: all 0.5s;
}

.header-search-input:focus {
    width : 25vw;
}
.header-search-input:focus {
    outline-style: solid;
    outline-color: $color;
    outline-width: 2px;
}

.header-search-button {
    border : none;
    background-color: $color;
}

.header-search-button img {
    width : 1.5rem;
    height : 1.5rem;
}

.header-search-box-inner {
    width : 30vw;
    @include flexbox(center, none);

}

.header-sign-box {
    width : 30%;
    @include flexbox(right, center);

}

.header-sign-box a {
    color : $fontColor;
    font-size: 0.8vw;
    margin-right : 1rem;
    width : 8rem;
    height : 2rem;
    border : none;
    border-radius: 50px;
    color : $color;
    box-shadow: 0px 3px 5px  rgb(204, 204, 204);
    @include flexbox(center, center);
}

.admin{
    width : 5rem;
    height : 2rem;
    background-color: red;
}

.nav-box {
    margin-left : 1px;
    position: fixed;
    height : 100vh;
    background-color: $color;
    z-index: 10;
    box-shadow: 5px 0px 2px $color;
    border-radius: 50px;
}

.nav-box img {
    width : 2rem;
}

.basic-menu-box {
    padding-top : 6rem;
    width : 100%;
    @include flexbox(none, center);
    flex-direction: column;
    
}

.nav-menu-box {
    display : flex;
    width : 100%;
    @include flexbox(space-between, center);
    margin-bottom : 15px;

}

.nav-menu-box:hover {
    background-color: $color;
}

.menu-icon {
    width : 5rem;
    height : 3rem;

}

.menu-icon > a {
    width : 100%;
    height : 100%;
    @include flexbox(center, center);
}

.menu-icon > a > img {
    width : 2rem;
    height : 2rem;
}

.menu-title {
    width : 8rem;
    text-align: left;
    font-weight: 800;
    display : flex;
    align-items: center;
   
}

.menu-title a {
    color :$fontColor;
}

.menu-title>a:hover {
    color : white;
}

.nav-sub-menu-box {
    width : 100%;
    margin-bottom : 1rem;
    @include flexbox(right, none);
}

.menu-title-sub {
    width : 50%;
    margin-right : 10%;
}

.menu-title-sub > a {
    font-size: 0.8rem;
    font-weight: 400;
}


.close {
    display:none;
}
