$color : #6462cb;
$fontColor :#cddfe0;
$mobileSize : 600px;

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

@font-face {
    font-family:'MalgunGothic'; 
    src: url(../fonts/MalgunGothic.eot);
}



div {
    box-sizing: border-box;
}

span {
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 253, 255);
    margin:1;
    padding: 1;
    font-family: 'SpoqaHanSansNeo-Regular';
    position : relative;
    height : 100vh;
}

a {
    text-decoration: none;
    color : black;
}

li {
    list-style: none;
}

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align;
}

.main-container {
    width : 100vw;
    height: 100vh;
    position : relative;

}

.content-container {
    width : 100%;
    padding-top : 10rem;
    @include flexbox(left, center);
    flex-direction: column;
    min-width: 1280px;
}

.up {
    width : 30%;
    height : 2rem;
    position : absolute;
    bottom: 3%;
    left : 1.5rem;
    z-index: 11;
}

.up img {
    width : 100%;
    height : 100%;
}

.header-box {
    position : fixed;
    width : 100%;
    height :4rem;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    display : flex;
    justify-content:left;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
}

.header-menu-button {
    cursor: pointer;
}

.header-menu-logo-box {
    padding-left : 0.2rem;
    width : 25rem;
    @include flexbox(left, center);
}


.header-menu-logo-box img {
    width : 2rem;
    margin-left : 1.4rem;
}

.header-menu-title {
    width : 20rem;
    font-size : 2rem;
    @include flexbox( left, center );
    font-family: 'MalgunGothic'; 
    font-weight: 600;
}

.header-menu-title img {
    margin-right : 1rem;
}

.header-search-box {
    @include flexbox(center, center);
    width : 50%;
}

.header-search-input {
    width : 17vw;
    border : solid 2px $color;
    border-radius: 5px;
    margin-left : 3rem;
  

}

.header-search-input:focus {
    outline-style: solid;
    outline-color: $color;
    outline-width: 2px;
    width : 20vw;
    transition: all 0.5s;
}

.header-search-button {
    border : none;
    background-color: $color;
}

.header-search-button img {
    width : 1.5rem;
    height : 1.5rem;
}

.header-search-box-inner {
    width : 100%;
    @include flexbox(center, none);
    position : relative;
}


.header-search-box-inner2 {
    width : 100%;
    @include flexbox(center, none);
    position : relative;
}

.header-notice img {
    margin-right : 10px;
    
}

.search-input {
    width : 60%;
    @include flexbox(center, center);
}

.rank-container {
    padding-left : 8rem;
    width : 40%;
    position : absolute;
    top : 10%;
    right : 0;
    height : 1.5rem;
    overflow: hidden;
}

.rank-box{
    padding-left : 0.5rem;
    width : 100%;
    transition: all 0.5s;
    z-index: 13;
}


.rank-container2{
    padding-left : 8rem;
    width : 40%;
    position : absolute;
    top : 10%;
    right : 0;
    height : 1.5rem;
}


.rank-box2{
    position : absolute;
    bottom : 0;
    background-color: white;
    border : solid 1px rgb(226, 226, 226);
    top : 1.5rem;
    width : 20rem;
    z-index: 15;
    height : 20rem;
    padding : 1rem;
    border-radius: 5px;
}


.rank-box a {
    width : 100%;
    height : 1.5rem;
}

.rank-box2 p {
    font-size: 1.2rem;
    height : 2.2rem;
    border-bottom: solid 2px rgb(226, 226, 226);
}

.rank-box2 a {
    width : 100%;
    height : 1.5rem;
}

.rank-item-num{
    width : 50%;
    font-weight: 700;
    margin-right : 1rem;
    font-style: italic;
}

#rank-item2 {
    width : 50%;
    font-weight: 700;
}

.header-sign-box {
    width : 30%;
    @include flexbox(right, center);

}

.header-sign-box a {
    color : $fontColor;
    font-size: 0.8vw;
    margin-right : 1rem;
    width : 8rem;
    height : 2rem;
    border : none;
    border-radius: 50px;
    color : $color;
    box-shadow: 0px 3px 5px  rgb(204, 204, 204);
    @include flexbox(center, center);
}

.admin{
    width : 5rem;
    height : 2rem;
    background-color: red;
}

.nav-box {
    z-index: 5;
    margin-left : 1px;
    position: fixed;
    height : 100vh;
    background-color: white;
    box-shadow: 5px 0px 10px rgb(218, 218, 218);
}

.nav-box img {
    width : 2rem;
}

.basic-menu-box {
    padding-top : 6rem;
    width : 100%;
    @include flexbox(none, center);
    flex-direction: column;
    
}

.nav-menu-box {
    display : flex;
    width : 100%;
    @include flexbox(space-between, center);
    margin-bottom : 15px;

}

.menu-icon {
    width : 5rem;
    height : 3rem;

}

.menu-icon > a {
    width : 100%;
    height : 100%;
    @include flexbox(center, center);
}

.menu-icon > a > img {
    width : 2rem;
    height : 2rem;
}

.menu-icon > a > img:hover {
    width : 2.5rem;
    height : 2.5rem;
}

.menu-title {
    width : 8rem;
    text-align: left;
    font-weight: 800;
    display : flex;
    align-items: center;
   
}

.menu-title a {
    color : $color;
}

.menu-title a:hover {
    font-size: 1.2rem;
}





.nav-sub-menu-box {
    width : 100%;
    margin-bottom : 1rem;
    @include flexbox(right, none);
}

.menu-title-sub {
    width : 50%;
    margin-right : 10%;
}

.menu-title-sub > a {
    font-size: 0.8rem;
    font-weight: 400;
}

.mobile-header-box {
    position : absolute;
    width : $mobileSize;
    height :5rem;
    bottom : 0;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px -5px 5px rgb(219, 219, 219);
    position : fixed;
    display : none;
    padding-left : 5%;
    padding-right : 5%;
    color: $color;
}

.mobile-search-input {
    position : absolute;
    width : $mobileSize;;
    height : 3rem;
    bottom : 6rem;
    @include flexbox(center, center);
    z-index: 4;
    background-color: white;
}

.mobile-search-input input {
    width : 30%;
    height : 60%;
    border : solid 2px $color;
    border-radius: 5px;
    transition: all 0.5s;
}
.mobile-search-input input:focus {
    width : 60%;
    border : solid 3px $color;
    outline-style: none;
}

.mobile-header-box a{
    color: $color;
}

.mobile-header-box >div {
    width : 20%;
    height: 100%;
}

.mobile-header-box >div > div {
    width : 100%;
    height: 50%;
    @include flexbox(center, center);
}

.mobile-header-box >div > div > img {
    margin-top : 10%;
    width : 30%;
    height: 80%;
}

@media screen and (max-width : 1300px) {
    .content-container {
        padding-left : 10rem;
    }
}

.close {
    display : none;
}


@media screen and (max-width : 630px) {
    .up {
        display: none;
    }
    .nav-box {
        padding : 1;
        background-color: white;
        position : absolute;
        bottom :5rem;
        width : $mobileSize;;
        height: 200px;
        display: none;
    }
    .basic-menu-box {
        position: absolute;
        height: 100%;
        width : $mobileSize;;
        padding : 0;
        @include flexbox(left, none);
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav-menu-box {
        width : 20%;
        height : 40%;
        @include flexbox(left, center);
        flex-direction: column;
    }
    .nav-menu-box:hover {
        cursor: pointer;
    }


    .menu-title {
        text-align: center;
        display : block;
        font-size: 0.8rem;
    }
    .header-box {
        display : none;
    }
    .mobile-header-box {
        display : flex;
    }
}

@media screen and (min-width : 630px) {
    .mobile-search-input {
        display : none;
    }
}


.open {
    display : block;
}

