$grey : rgb(228, 227, 227);
$color : rgb(142,191,188);

a {
    text-decoration: none;
    color : black;
}

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align;
}

.list-container {
    width : 50rem;

    @include flexbox(left, center);
    flex-direction: column;
}

.list-clean-box {
    width : 100%;
    height : 2.5rem;
    @include flexbox(left, center );
}

.list-clean-box > a {
width : 8%;
height : 80%;
background-color: $color;
border : none;
color : white;
@include flexbox(center, center );
margin : 5px;
border-radius: 5px;
}

.list-table {
    width : 100%;

    text-align: center;
}

.list-table-title {
    height : 3rem;
    border-top : 3px solid $color;
    border-bottom : 1px solid $color;

}

.list-search-form {
    width : 100%;
    height : 2rem;

    @include flexbox(center, center);
    position : relative;
}

.list-search-form-select {
    height : 100%;
    width : 5rem;
    margin-right : 1rem;
    border : 2px solid $color;
    border-radius: 5px;
}

.list-search-form > input {
    border : 2px solid $color;
    border-radius: 5px;
}

.list-search-form-button {
    background-color: $color;
    color : white;
}

.list-search-form-write-button {
    position : absolute;
    border : 2px solid $color;
    border-radius: 5px;

    right : 0;
    background-color: $color;
}

.list-search-form-write-button a{
    color : white;
}


