$color : #6462cb;
$fontColor :#cddfe0;

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align;
}

$mypage-box-size : 25rem;

a {
    text-decoration: none;
    color : black;
}

.header-search-box {
    @include flexbox(center, center);
    width : 60%;
}

.header-search-input {
    width : 20vw;
    border : solid 2px $color;
    border-radius: 5px;
}
.header-search-input:focus {
    outline-style: solid;
    outline-color: $color;
    outline-width: 2px;
}

.header-search-input {
    width : 10vw;
    border : solid 2px $color;
    border-radius: 5px;
    height : 2.4rem;
    transition: all 0.5s;
}

.header-search-input:focus {
    width : 20vw;
}

.header-search-button {
    border : none;
    background-color: $color;
    color : white;
}

.header-search-box-inner {
    width : 30rem;
    margin : 0;
}

.mypage-container {
    width : 100%;
    margin-left : 5rem;
    position : relative;
}

.mypage-box-title-box {
    border-bottom : solid 2px $color;
    width : 100%;
    height : 3rem;
    @include flexbox(left, none);
}

.mypage-box-title-box > div {
    width : 8rem;
    height : 100%;
    @include flexbox(center, center);
    font-size: 1rem;
}

.mypage-info {
    width : $mypage-box-size;
    border-radius: 8px;
    text-align: center;
}

.mypage-info tr {
    height : 3rem;
}

.mypage-info td {
    border : solid 2px rgb(224, 224, 224);
}

.mypage-info-button-box {
    width : $mypage-box-size;
    height : 2.5rem;
    @include flexbox(space-between, none)
}

.mypage-info-button {
    width : 30%;
    height : 100%;
    background-color : $color;
    border : none;
    border-radius: 5px;
    color : white;
    margin : 1px;
}

.mypage-container-inner-box {
    position : absolute;
    left : 3rem;
    margin-top : 2rem;
}


.mypage-info-title {
    width : 100%;
    text-align: center;
    font-size: 2rem;
}

.myproduct-box-title {
        width : 100%;
        text-align: center;
        font-size: 2rem;
}

.myproduct-box {
    width : 40rem;
}

.myproduct-box-item {
    width : 100%;
    height : 5rem;
    position : relative;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    margin-bottom : 1rem;
}

.myproduct-item-img {
    position: absolute;
    left : 10px;
    width : 10%;
    height : 80%;
    top : 10%;
}

.myproduct-item-img a  {
    width : 100%;
    height : 100%;
}

.myproduct-item-img img  {
    width : 100%;
    height : 100%;
}

.myproduct-item-title {
    position: absolute;
    left : 15%;
    top : 10%;
    font-size: 1.3rem;
}

.myproduct-item-date {
    position: absolute;
    left : 15%;
    bottom : 10%;
}

.myproduct-zzim-box {
    width : 40rem;
    text-align: center;
}

.myproduct-zzim-box img {
    margin-right : 1rem;
}

.myproduct-zzim-item {
    margin : 1rem;
}

.myproduct-box-table-title {
    height : 3rem;
    border-bottom : solid 2px $color;
}


.mypage-delete-title {
    width : 100%;
    text-align: center;
    font-size: 1rem;
}

.mypage-delete-box {
    width : $mypage-box-size;
}

.form-group {
    width : 100%;
}

.form-group > input {
    width : 100%;
    border : 2px solid $color;
    height : 3rem;
    margin-bottom : 0.5rem;
    border-radius: 7px;
}

.delete-button-box {
    width : 100%;
    height : 3rem;
    @include flexbox(space-between, none);
}

.delete-button-box input {
    width : 45%;
    border : none;
    background-color: $color;
    border-radius: 7px;
    color : white;
   
}

.mypage-modify-title {
    width : 100%;
    height : 3rem;
    border-bottom : solid 3px $color;
    font-size: 2rem;
}

.modify-box input {
    width : 15rem;
    height : 2.5rem;
    margin : 5px;
    border : none;
    background-color: rgb(241, 241, 241);
    border-bottom: solid 2px $color;
}

.modify-box p {
margin : 0%;
margin-left : 5px;
}

#mypage-modify-button {
    width : 31rem;
    border : none;
    border-radius: 10px;
    background-color: #6462cb;
    color : white;
}

#mypage-modify-pw-button {
    margin-top : 10px;
    width : 21rem;
    height : 3rem;
    border : none;
    border-radius: 10px;
    background-color: #6462cb;
    color : white;
}

#mypage-modify-address-button {
    margin-top : 10px;
    width : 8rem;
    height : 2.3rem;
    border : none;
    border-radius: 10px;
    background-color: #6462cb;
    color : white;
}

.myproduct-box-table {
    width : 100%;
    text-align: center;
}







.show {
    border-top : 2px solid $color;
}

.close {
    display:none;
}

