$color : rgb(142,191,188);

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align;
}

a {
    text-decoration: none;
    color : black;
}

.mypage-container {
    width : 100%;
    background-color: aquamarine;
    margin-top: 5rem;
    margin-left : 5rem;
    position : relative;
}

.mypage-box-title-box {
    border-bottom : solid 2px $color;
    width : 100%;
    height : 3rem;
    @include flexbox(left, none);
}

.mypage-box-title-box > div {
    width : 8rem;
    height : 100%;
    @include flexbox(center, center);
    font-size: 1rem;
}

.mypage-info {
    width : 25rem;
}

.mypage-info tr {
    height : 3rem;
}

.mypage-info td {
    border : solid 2px grey;
}

.mypage-info-button-box {
    width : 25rem;
    height : 3rem;
    background-color: blue;
    @include flexbox(space-between, none)
}

.mypage-info-button {
    width : 30%;
    height : 100%;
    background-color : red;
  
}

.mypage-title1 {
    background-color: red;
}

.mypage-container-inner-box {
    position : absolute;
    left : 3rem;
    margin-top : 2rem;
}

.show {
    border-top : 2px solid $color;
}

.close {
    display:none;
}

