$color : #6462cb;
$fontColor :#cddfe0;

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align;
}

$mypage-box-size : 25rem;

body {
    background-color: rgb(251, 253, 255);
    margin:1;
    padding: 1;
    font-family: 'SpoqaHanSansNeo-Regular';
    position : relative;
    height : 100vh;
}

.background {
    position : absolute;
    top : 0;
    width : 100%;
    border-bottom : 3px solid $color;
    height : 14rem;
}

.background p {
    position: absolute;
    font-size: 3rem;
    bottom : 5%;
    left : 16%;
    color : $color;
}

a {
    text-decoration: none;
    color : black;
}

li {
    list-style: none;
}


.mypage-container {
    margin-top : 5rem;
    width : 1280px;
    position : relative;
    @include flexbox(left, none);
}

.mypage-box-title-box {
    margin-right : 7rem;
    width : 10%;
    height: 100vh;
}

.mypage-title-title {
    width : 100%;
    @include flexbox(center, center);
    height : 4rem;
    font-size : 1.5rem;
    margin-bottom : 1rem;
    font-weight: 700;
    border-bottom : solid 2px rgb(236, 236, 236);
}

.mypage-title {
    width : 100%;
    @include flexbox(center, center);
    font-size: 1rem;
    height : 3rem;
    font-weight: 600;
}

.mypage-title:hover {
    cursor: pointer;
}

.mypage-info {
    width : $mypage-box-size;
    border-radius: 8px;
    text-align: center;
}

.mypage-info tr {
    height : 3rem;
}

.mypage-info td {
    border : solid 2px rgb(224, 224, 224);
}

.mypage-info-button-box {
    width : $mypage-box-size;
    height : 2.5rem;
    @include flexbox(space-between, none)
}

.mypage-info-button {
    width : 30%;
    height : 100%;
    background-color : $color;
    border : none;
    border-radius: 5px;
    color : white;
    margin : 1px;
}

.mypage-container-inner-box {
    margin-top : 1rem;
    width : 50%;
}


.mypage-info-title {
    width : 100%;
    font-size: 2rem;
    border-bottom : 3px solid $color;
}

.myproduct-box-title {
    width : 100%;
    height : 3rem;
    font-size: 1.5rem;
    border-bottom : 2px solid $color;
}

.myproduct-box {
    padding-right : 2%;
    width : 40rem;
    height : 550px;
    overflow: auto;
}

.myproduct-box::-webkit-scrollbar {
    width : 0.8rem;
}

.myproduct-box::-webkit-scrollbar-track {
    background-color:#b0b0c0;
    border-radius: 10px;
}

.myproduct-box::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 10px;
}


.myproduct-box-item {
    width : 100%;
    height : 5rem;
    position : relative;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    margin-bottom : 1rem;
}

.myproduct-item-img {
    position: absolute;
    left : 10px;
    width : 10%;
    height : 80%;
    top : 10%;
}

.myproduct-item-img a  {
    width : 100%;
    height : 100%;
}

.myproduct-item-img img  {
    width : 100%;
    height : 100%;
}

.myproduct-item-title {
    position: absolute;
    left : 15%;
    top : 10%;
    font-size: 1.3rem;
}

.myproduct-item-date {
    position: absolute;
    left : 15%;
    bottom : 10%;
}

.myproduct-zzim-box {
    width : 40rem;
    text-align: center;
}

.myproduct-zzim-box img {
    margin-right : 1rem;
}

.myproduct-zzim-item {
    margin : 1rem;
    width : 100%;
    height : 3rem;
}

.myproduct-zzim-item th {
    position : relative;
    height : 3rem;
}

.myproduct-zzim-item th > img {
    height: 80%;
    position : absolute;
    left : 0;
    border : solid 2px rgb(231, 231, 231);
}

.myproduct-zzim-item th > a {
    height : 100%;
    @include flexbox(center, center);
}

.myproduct-box-table-title {
    height: 0.5rem;
    font-size: 0.9rem;
}
.myproduct-box-table-title th{
    height: 0.5rem;
}

.myproduct-box-table-title2 {
    border-bottom: solid 2px rgb(233, 233, 233);
    height: 0.5rem;
}

.mypage-delete-title {
    width : 100%;
    font-size: 1rem;
}

.mypage-delete-box {
    width : $mypage-box-size;
}

.form-group {
    width : 100%;
}

.form-group > input {
    width : 100%;
    border : 2px solid $color;
    height : 3rem;
    margin-bottom : 0.5rem;
    border-radius: 7px;
}

.delete-button-box {
    width : 100%;
    height : 3rem;
    @include flexbox(space-between, none);
}

.delete-button-box input {
    width : 45%;
    border : none;
    background-color: $color;
    border-radius: 7px;
    color : white;
   
}

.mypage-modify-title {
    width : 100%;
    height : 3rem;
    border-bottom : solid 3px $color;
    font-size: 2rem;
}

.modify-box {
    margin-top : -5rem;
    width : 100%;
}

.modify-box input {
    width : 15rem;
    height : 2.5rem;
    margin : 3px;
    border : none;
    background-color: rgb(241, 241, 241);
    border-bottom: solid 2px $color;
}

.modify-box p {
margin : 0%;
margin-left : 5px;
}

#mypage-modify-button {
    width : 31rem;
    border : none;
    border-radius: 10px;
    background-color: #6462cb;
    color : white;
}

#mypage-modify-pw-button {
    margin-top : 10px;
    width : 21rem;
    height : 3rem;
    border : none;
    border-radius: 10px;
    background-color: #6462cb;
    color : white;
}

#mypage-modify-address-button {
    margin-top : 10px;
    width : 8rem;
    height : 2.3rem;
    border : none;
    border-radius: 10px;
    background-color: #6462cb;
    color : white;
}

.myproduct-box-table {
    width : 100%;
    text-align: center;
}

.mypage-mywrite {
    height : 2.5rem;
    border-bottom : solid 1px rgb(238, 238, 238);
}


.show {
    background-color: #7f7ec7;
    color : white;
    border-radius: 5px;
}


.close {
    display:none;
}

