$color : rgb(142,191,188);
$box-size : 95rem;

@mixin flexbox($justify, $align){
    display : flex;
    justify-content: $justify;
    align-items: $align
}

@mixin itemPosition($top, $right, $bottom, $left){
    position : absolute;
    top : $top;
    right : $right;
    bottom : $bottom;
    left : $left;
}


.allproduct-container {
    width : 100%;
    @include flexbox(none,center);
    flex-direction: column;
    top : 0%;
    margin-left : 5rem;
    position : relative;
    background-color: black;
}

.smart-search-box {
    width : $box-size;
    height : 4rem;
    text-align: center;
    position : absolute;
    border-top : solid 2px $color;
    padding-top : 2rem;
    @include flexbox(space-between, none );
    left : 0;
}

.smart-search-title {
    width : 12%;
    position : absolute;
    background-color: white;
    left : 44%;
    top : -1.2rem;
    font-size: 1.5rem;
    text-align: center;
}

.smart-search-result-box {
    width : $box-size;
    height : 3rem;
    background-color: $color;
    border-radius: 10px;
    @include flexbox(left, center );
    position : absolute;
    left : 0%;
    top : 5rem;
}

.smart-search-result-box div {
 margin-left : 2rem;
}

.allproduct-search-box {
    width : $box-size;
    position : absolute;
    left : 0;
    top : 9rem;
    @include flexbox(space-between, none);
}

.product-register {
    width : 10rem;
    height : 2rem;
    border-radius: 10px;
    background-color: $color;
    color : white;
    top : 9.5rem;
    left : 0;
    text-align: center;
    padding-top : 0.2rem;
}

.allproduct-product-box {
    position : absolute;
    top : 13rem;
    left : 1rem;
    width : 100%;
    @include flexbox(left,none);
    flex-wrap: wrap;
}

.product-box-item {
    width : 17rem;
    height : 22rem;
    margin : 3rem;
    position : relative;
}

.product-item-img {
    width : 100%;
    height : 65%;
    border-bottom : solid 3px rgb(204, 200, 200);
}

.product-item-title {
    @include itemPosition(none, none , 26%, 3%)
} 

.product-item-owner {
    @include itemPosition(none, none , 3%, 3%)
} 

.product-item-date {
    @include itemPosition(none, none , 17%, 3%)
} 

.product-item-location {
    @include itemPosition(none, none , 10%, 3%)
}

.product-item-zzim {
    @include itemPosition(none, 3% , 3%, none)
}


.oneproduct-container {
    background-color: aqua;
    width : 25rem;
    @include flexbox(space-around, center);
    flex-direction: column;
}

.product-detail-img {
    width : 100%;
    height : 50%;;
}

.product-detail-img img {

    width : 100%;
    height : 100%;
}

.product-detail-content {

    width : 100%;
    height : 30%;
    @include flexbox(center, center);
    flex-direction: column;
}

.product-detail-content-button {
    width : 100%;
    height : 10%;

    position: relative;
}

.zzim-box {
    position : absolute;
    right : 3%;
    bottom : 3%;
}


