.allproduct-container {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.smart-search-box {
  width: 100%;
  height: 4rem;
  text-align: center;
  position: absolute;
  border-top: solid 2px rgb(142, 191, 188);
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: none;
  left: 0;
}

.smart-search-title {
  width: 12%;
  position: absolute;
  background-color: white;
  left: 44%;
  top: -1.2rem;
  font-size: 1.5rem;
  text-align: center;
}

.smart-search-button {
  border: none;
  border-radius: 5px;
  background-color: rgb(142, 191, 188);
  color: white;
}

.smart-search-result-box {
  width: 100%;
  height: 3rem;
  background-color: rgb(142, 191, 188);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 5rem;
}

.smart-search-result-box div {
  margin-left: 2rem;
}

.zzim-title {
  width: 100%;
  color: rgb(142, 191, 188);
}

.zzimproduct-list-container {
  position: absolute;
  right: -15rem;
  top: 12rem;
  width: 15rem;
}

.zzimproduct-list-box {
  position: fixed;
  width: 100%;
}

.zzim-product {
  width: 100%;
  display: flex;
  justify-content: none;
  align-items: left;
  flex-direction: column;
}

.zzim-product a {
  margin-bottom: 1rem;
}

.allproduct-search-box {
  width: 100%;
  position: absolute;
  left: 0;
  top: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: none;
}

.allproduct-search-box-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.allproduct-search-box-input select {
  height: 100%;
  border: solid 1px rgb(142, 191, 188);
  border-radius: 5px;
}

.search-box-search-input {
  height: 100%;
  border: solid 1px rgb(142, 191, 188);
  border-radius: 5px;
  margin-left: 0.5rem;
}

.search-box-search-button {
  margin-left: 0.2rem;
  height: 100%;
  border: none;
  border-radius: 5px;
  background-color: rgb(142, 191, 188);
  color: white;
}

.product-register {
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  background-color: rgb(142, 191, 188);
  color: white;
  top: 9.5rem;
  left: 0;
  text-align: center;
  padding-top: 0.2rem;
}

.allproduct-product-box {
  position: absolute;
  top: 13rem;
  left: 1rem;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: none;
  flex-wrap: wrap;
}

.product-box-item {
  width: 15rem;
  height: 20rem;
  margin: 3rem;
  position: relative;
  border: 2px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0px 5px 8px rgb(216, 216, 216);
  overflow: hidden;
}

.product-item-img {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
}

.reserved {
  position: absolute;
  top: none;
  right: 3%;
  bottom: 12%;
  left: none;
}

.product-item-img:hover {
  width: 105%;
  height: 105%;
  margin-left: -2.5%;
}

.product-item-title {
  text-overflow: ellipsis;
  font-weight: 600;
  position: absolute;
  top: none;
  right: none;
  bottom: 28%;
  left: 3%;
}

.product-item-owner {
  font-size: 0.9rem;
  position: absolute;
  top: none;
  right: none;
  bottom: 20%;
  left: 3%;
}

.product-item-date {
  font-size: 0.9rem;
  position: absolute;
  top: none;
  right: none;
  bottom: 12%;
  left: 3%;
}

.product-item-location {
  font-size: 0.9rem;
  position: absolute;
  top: none;
  right: none;
  bottom: 4%;
  left: 3%;
}

.product-item-zzim {
  position: absolute;
  top: none;
  right: 4%;
  bottom: 3%;
  left: none;
}

.oneproduct-container {
  background-color: aqua;
  width: 25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.product-detail-img {
  width: 100%;
  height: 50%;
}

.product-detail-img img {
  width: 100%;
  height: 100%;
}

.product-detail-content {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-detail-content-button {
  width: 100%;
  height: 10%;
  position: relative;
}

.zzim-box {
  position: absolute;
  right: 3%;
  bottom: 3%;
}/*# sourceMappingURL=product.css.map */