a {
  text-decoration: none;
  color: black;
}

.login-container {
  position: absolute;
  top: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background-color: white;
  width: 25rem;
  height: 25rem;
  border-radius: 10px;
}

.login-box-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(142, 191, 188);
}

.login-box-title span {
  margin: 1rem;
  font-size: 2rem;
}

.login-box-sign-box {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-sign-box > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-signin-button {
  height: 100%;
  border-bottom: solid 3px rgb(142, 191, 188);
  color: rgb(142, 191, 188);
}

.login-box-form {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  line-height: 0.5;
}

.login-input {
  width: 90%;
  height: 3rem;
  background-color: rgb(228, 227, 227);
  border: none;
  border-radius: 5px;
  padding-left: 1rem;
}

.login-button {
  width: 90%;
  height: 3rem;
  border: none;
  background-color: rgb(142, 191, 188);
  color: white;
}

.login-box-find-box {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-find-box button {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  background: none;
  text-decoration: none;
}

.login-box-kakao-naver {
  margin-top: 1rem;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box-kakao-naver img {
  width: 10%;
  margin-left: 15%;
  margin-right: 15%;
}

.signup-box {
  background-color: white;
  width: 28rem;
  border-radius: 10px;
}

.signup-box-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(142, 191, 188);
}

.signup-box-title span {
  margin: 1rem;
  font-size: 2rem;
}

.signup-box-sign-box {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box-sign-box > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box-signup-button {
  height: 100%;
  border-bottom: solid 3px rgb(142, 191, 188);
}

.signup-box-signup-button a {
  color: rgb(142, 191, 188);
}

.signup-box input {
  margin: 0.5rem;
  background-color: rgb(228, 227, 227);
  border: none;
  border-radius: 5px;
  padding-left: 0.5rem;
}

.signup-check-button {
  margin: 0.5rem;
  border-radius: 5px;
  width: 20%;
  border: none;
  background-color: rgb(142, 191, 188);
  color: white;
}

.signup-button {
  margin: 0.5rem;
  width: 95%;
  height: 2.5rem;
  border: none;
  background-color: rgb(142, 191, 188);
  color: white;
  border-radius: 5px;
}

input:focus {
  outline-style: solid;
  outline-width: 3px;
  outline-color: rgb(142, 191, 188);
}/*# sourceMappingURL=login.css.map */